*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    background-color: #20ac76;
}

.section1{
    width: 90%;
    /* background-image: url(https://ng.jumia.is/cms/0-1-weekly-cps/0-2025/0-0-1-holiday-sales/TOP-STRIP-LIVE-HOLIDAY-SALE-25.gif); */
    border: thick solid white;
    margin: 0 auto;
}

.section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1f2;
    border: thick solid blue;
}
.sell{
    width: 30%;
    margin-left: 4.5%; border: thick solid black;
    align-content: center;
}
.sell a{
    width: 100%;
    text-decoration: none;
    color: #f68b25;
    
   
}   
.section2 img{
    width: 70px;
}

.section2-1{
    display: flex;
    justify-content:flex-start;
    width: 60%;
}
.section2-1 h4{
    display: inline;
}
.paylogo img{
    width: 10px;
    margin-top: 14%;
}

.header{
    width: 100%;
    border: thick solid red;
    display: flex;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0;
}

.header img{
    width: 100%;
    margin-left: 40%;
}

.headerleft{
    width: 12%;
    
}
.headeright{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1% 0 0 1%;
}
.search{
width: 75%;
display: flex;
/* height: 50px; */
/* border: thick solid red; */

}
.lens{
    margin-left: 18%;
    border: thin solid #a3a3a6;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}
.lens i{
    margin-left: 2%;
}
input{
    border:none;
    width: 85%;
    padding: 2%;
    font-size: 18px;
    font-weight: 400;
}


.search button{
    background-color: #f68b1e;
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2.5%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
select{
    border: none;
}

.rightright{
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    margin-right: 8%;
}
.rightright a{
    color: #313133;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
}

.container2{
    display: grid;
    width: 100%;
    border: thick solid black;
    background-image: url(/Multimedia/Images/bg.jpg);
    grid-template-areas: 
    'left main main right1'
    'left main main right2';

    grid-template-columns: 1fr 1fr 1.5fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10;

}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;
    grid-area: left;
    border: thin solid blue; 
    background-color: white;
    border-radius: 6px;
    margin-left:20%;
}

.left i{
    margin-left: 3%;
}
.left a{
    display: block;
    color: #313133;
    text-decoration: none;
    font: 12px;
    font-weight: 400;
    line-height: normal;
    display: inline;
    padding-left: 2%;
}
.main{
    margin-top: 2%;
    grid-area: main;
    border: thin solid green; 
    width: 100%;
    margin-left: 2%;
    border-radius: 6px;
    
    
}

.main img{
    width: 100%;
}

.right1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: right1;
    /* border: thin solid blue;  */
    margin: 5% 10% 5% 10%;
    border-radius: 6px;
    width: 80%;
    background-color: white;
    
}
.right1 h3{
    display: inline;
}

.right2 img{
    width: 80%;
    grid-area: right2;
    border: thin solid red; 
    margin-left: 10%;
    border-radius: 6px;
}

@media (max-width: 1400px) {
    .section1 img{
        width: 100%;
       flex-wrap: nowrap;
    }

    .section2{
        width: 100%;
        flex-wrap: nowrap;
    }

    .header{
        width: 100%;
        flex-wrap: nowrap;
    }
    .header img{
        width:100%;
        flex-wrap: nowrap;
    }
    .headeright{
        width: 100%;
        flex-wrap: nowrap;
        
    }

    .search{
        width: 100%;
        flex-wrap: nowrap;
    }
    .lens{
        width: 100%;
        flex-wrap: nowrap;
    }
    button{
        width: 100%;
        flex-wrap: nowrap;
    }
}