*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #20ac76;
}

.section1{
    width: 90%;
    /* background-image: url(https://ng.jumia.is/cms/0-1-weekly-cps/0-2025/0-0-1-holiday-sales/TOP-STRIP-LIVE-HOLIDAY-SALE-25.gif); */
    border: thick solid white;
    margin: 0 auto;
}

.section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1f2;
    border: thick solid blue;
}

.sell a{
    width: 100%;
    text-decoration: none;
    color: #f68b25;
    /* padding: 1%; */
}
.section2 img{
    width: 70px;
}

.section2-1{
    display: flex;
    justify-content:flex-start;
    width: 50%;
}
.section2-1 h4{
    display: inline;
}
.paylogo img{
    width: 10px;
    margin-top: 14%;
}

.header{
    width: 100%;
    border: thick solid red;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.header img{
    width: 100%;
    margin-left: 40%;
}

.headerleft{
    width: 12%;
    
}
.headeright{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1% 0 0 1%;
}
.search{
width: 75%;
display: flex;
/* height: 50px; */
/* border: thick solid red; */

}
.lens{
    margin-left: 18%;
    border: thin solid #a3a3a6;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}
.lens i{
    margin-left: 2%;
}
input{
    border:none;
    width: 85%;
    padding: 2%;
    font-size: 18px;
    font-weight: 400;
}


.search button{
    background-color: #f68b1e;
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2.5%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
select{
    border: none;
}

.rightright{
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    margin-right: 8%;
}
.rightright a{
    color: #313133;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
}


@media (max-width: 1400px) {
    .section1 img{
        width: 100%;
       flex-wrap: nowrap;
    }

    .section2{
        width: 100%;
        flex-wrap: nowrap;
    }

    .header{
        width: 100%;
        flex-wrap: nowrap;
    }
    .header img{
        width:100%;
        flex-wrap: nowrap;
    }
    .headeright{
        width: 100%;
        flex-wrap: nowrap;
        
    }

    .search{
        width: 100%;
        flex-wrap: nowrap;
    }
    .lens{
        width: 100%;
        flex-wrap: nowrap;
    }
    button{
        width: 100%;
        flex-wrap: nowrap;
    }
}