*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}

.container1{
    /* background-color: #ffb901; */
    position: relative;
    background-color: #ff9900;
}

.section1{
    width: 90%;
    /* background-image: url(https://ng.jumia.is/cms/0-1-weekly-cps/0-2025/0-0-1-holiday-sales/TOP-STRIP-LIVE-HOLIDAY-SALE-25.gif); */
    /* border: thick solid white; */
    margin: 0 auto;
}

.section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1f2;
    /* border: thick solid blue; */
}
.sell{
    width: 30%;
    margin-left: 4.5%; 
    /* border: thick solid black; */
    align-content: center;
}
.sell a{
    width: 100%;
    text-decoration: none;
    color: #f68b25; 
}   
.section2 img{
    width: 70px;
}

.section2-1{
    display: flex;
    justify-content:flex-start;
    width: 60%;
}
.section2-1 h4{
    display: inline;
}
.paylogo img{
    width: 10px;
    margin-top: 14%;
}

.header{
    width: 100%;
    /* border: thick solid red; */
    display: flex;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header img{
    width: 100%;
    margin-left: 40%;
}

.headerleft{
    width: 12%; 
}
.headeright{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 1% 0 0 1%; */
}
.search{
width: 70%;
display: flex;
/* height: 50px; */
/* border: thick solid red; */
align-items: center;
/* justify-content: center; */

}
.lens{
    margin-left: 18%;
    border: thin solid #a3a3a6;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}
.lens i{
    margin-left: 2%;
}
input{
    border:none;
    width: 85%;
    padding: 1%;
    font-size: 16px;
    font-weight: 400;
    /* outline: none; */
}


.search button{
    background-color: #f68b1e;
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2.5%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    /* margin-top: 20px; */
    padding: 10px 1px;
}
select{
    border: none;
}

.rightright{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 1%; */
    margin-right: 8%;
}
.rightright a{
    color: #313133;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500; 
}
.r{
display: flex;
}
.r p{
    display: inline;
    font-size: 15px;
}

.maincontents{
    width: 100%;
    border: thin solid black;
    background-color:#f5f5f5 ;
}

.help{
    width: 80%;
    background-color: #ff9900;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 2%;
    font-size: 1.5rem;
    /* border-color: thick solid red; */
}
.contents{
    margin: 80%;
    margin: .5% auto;
    display: flex;
    align-items: center;
    background-color: white;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}
@media (max-width:1) {
    
}