*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}
.container1{
    background-color: #f1f1f2;
}

.section1{
    width: 90%;
    /* background-image: url(https://ng.jumia.is/cms/0-1-weekly-cps/0-2025/0-0-1-holiday-sales/TOP-STRIP-LIVE-HOLIDAY-SALE-25.gif); */
    border: thick solid white;
    margin: 0 auto;
}

.section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1f2;
    border: thick solid blue;
}
.sell{
    width: 30%;
    margin-left: 4.5%; border: thick solid black;
    align-content: center;
}
.sell a{
    width: 100%;
    text-decoration: none;
    color: #f68b25;
    
   
}   
.section2 img{
    width: 70px;
}

.section2-1{
    display: flex;
    justify-content:flex-start;
    width: 60%;
}
.section2-1 h4{
    display: inline;
}
.paylogo img{
    width: 10px;
    margin-top: 14%;
}

.header{
    width: 100%;
    border: thick solid red;
    display: flex;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0;
}

.header img{
    width: 100%;
    margin-left: 40%;
}

.headerleft{
    width: 12%;
    
}
.headeright{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1% 0 0 1%;
}
.search{
width: 75%;
display: flex;
/* height: 50px; */
/* border: thick solid red; */

}
.lens{
    margin-left: 18%;
    border: thin solid #a3a3a6;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}
.lens i{
    margin-left: 2%;
}
input{
    border:none;
    width: 85%;
    padding: 2%;
    font-size: 18px;
    font-weight: 400;
}


.search button{
    background-color: #f68b1e;
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2.5%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
select{
    border: none;
}

.rightright{
    width: 30%;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    margin-right: 8%;
}
.rightright a{
    color: #313133;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
}

.sellonjumia{
    width: 90%;
    margin: 1% auto;
}

.sellflyer{
    width: 100%;
    border: 10px solid white;
    border-radius: 4px;
    position: relative;
}

.sellflyer img{
    width: 100%;
    border-radius: 4px;
}

.sellflyer h3{
    color: white;
    background-color: #f68b1e;
    padding: .4%;
    width: 10%;
    text-align: center;
    font-size: 14px;
    position:absolute;
    right: 0%;
    bottom: 0%;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.whysell{
    width: 90%;
    margin: 1% auto;
    /* border: thick solid blue; */
    text-align: center;
    background-color: white;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 1%;
}
.sellb{
    padding: 1%;
    color: #464646;
    font-size: 13px;
}


.buttons button{
     background-color: #c63232;
     padding: 1.5%;
     color: white;
     font-size: 13px;
     border-radius: 4px;
     border: none;
     max-width: 50%;

}
.testimonials{
    border: thick solid black;
    margin: auto;
    text-align: center;
    width: 90%;
    background-color: white;
}

.testi{
    display: flex;
}

iframe{
    padding: 1% ;
}

.testi p{
    width: 71%;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    /* justify-items: center; */
    place-items: center;
}
.h4h4{
    padding: 1%;
    color: #464646;
    font-size: 13px;
    /* font-weight: normal; */
}

.how{
    width: 90%;
    background-color: white;
    margin: 1% auto;
    /* border: thick solid blue; */
    /* position: static; */
}
.how h4{
    text-align: center;
    font-size: 13px;
    color: #393939;
}

.howit{
    width: 100%;
    display: flex;
    justify-content: space-around;
     /* margin: 1% auto; */
}
.howit img{

    width: 100px;
}
.howit p{
    text-align: left;
    color: #282828;
    font-size: 13px;
    line-height: 20px;
}
.howit h4{
    color: #393939;
}

.newbutton{
    /* position:absolute; */
    /* right: 30%; */
    background-color: #f68b1e;
    width: 10%;
    padding: 1%;
    text-transform: uppercase;
    color: white;
    border: none;
}
.newbutton1{
    /* position:absolute; */
    /* right: 20%; */
    background-color: #f68b1e;
    width: 10%;
    padding: 1%;
    text-transform: uppercase;
    color: white;
    border: none;
}

.one{
    width: 25%;
}
.two{
    width: 22%;
}
.howit h4{
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    margin-block: 1%; 
}

.subscribe{
    width: 100%;
    background-color: #313133;
    /* border: thick solid red; */
    padding-block: 2%;
    
}

.subs{
    width: 90%;
    /* border: thick solid blue; */
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.leftside{
    width: 18%;
    /* border: thick solid white; */
}
.leftside img{
    width: 100%;
}

.newsletter{
    width: 50%;
    /* border: thick solid red; */
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    
}

.tt{
    color: white;
    font-size: 12px;
}

.tt h4{
    font-size: 13px;
    font-weight: 700;
   
}

.tt p{
    font-weight: 400;
    padding-block: 2%;
}
.email{
    display: flex;
    /* justify-content:space-evenly; */
    width: 100%;
    
    
}

.mail{
    border: thin solid white;
    background-color: white;
    color: #a3a3a6;
    border-radius: 4px;
    width: 50%;
}

.mail i{
    padding-left: 5%;
    width: 10%;
}
.mail input{
    width: 80%;
    padding: 5%;
    font-size: 16px;

    
}
.email button{
    border: thin solid white;
    margin-left: 3%;
    width: 18%;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 14.4px;
    font-style: normal;
    background-color: transparent;
    color: white;
}

.email button:hover{
    border: thin solid #f68b1e;
    color: #f68b1e;
}

.checkbox{
    display: flex;
    padding: 32px 0px 0px 0px;
}


.checkbox input{
    width: 20px;
    background-color: transparent;
    color: #a3a3a6;
}

/* .checkbox input:hover{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

.checkbox label{
    color: #a3a3a6;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.8px;
    margin-left: 2%;

}

.newsletter a{
    text-decoration: none;
    font-size: 13px;
    line-height: 16.8px;
    font-weight: 400;
    color: #F68B1E;
    margin-left: 5.5%;
    /* padding-bottom: 6%; */
}

.newsletter a:hover{
    text-decoration: underline;
}
.downloadapps{
    width: 30%;
    /* border: thick solid white; */
    color: white;
    
}

.jumiafreeapp{
    display: flex;
    width: 80%;
    margin: 5% auto;
    /* align-items: center; */
}
.jumiafreeapp img{
    width: 40px;
    background-color: white;
    border-radius: 4px;
}
.txt{
    padding-left: 3%;
}

.txt h4{
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.txt p{
    font-size: 12px;
    font-weight: 400;
    color: #F1F1F2;
    padding-block: 3%;
}
.twoapps{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 7%;
    
}
.twoapps i{
    margin-top: 35%;
}

.twoapps h6{
    font-size: 8px;
    font-weight: 400;
}

.twoapps h4{
    font-size: 13px;
    font-weight: 400;
}

.apple,.googleplay{
    display: flex;
    /* margin-right: 5%; */
    
}
.apple:hover{
    color: #f68b1e;
}
.googleplay:hover{
    color: orange;
}
.newsletter .search{
    width: 50%;
    display: flex;
}

.search{
width: 75%;
display: flex;
/* height: 50px; */
/* border: thick solid red; */

}
.lens{
    margin-left: 18%;
    border: thin solid #a3a3a6;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}




/* .search button{
    background-color: #f68b1e;
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2.5%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
} */

.container3{
    background-color: #535357;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: white;
    border: thick solid green;
    margin: 0 auto;
}
.footer a{
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 1%;
}

.footer a:hover{
    text-decoration: underline;
}
.container3 h4, .footerfoot h4{
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    padding-block: 7%;
}
.first{
    display: flex;
    flex-direction: column;
    border: thick solid white;
    width: 15%;
}

.useful{
    width: 120%; 
}
.about{
    width: 20%;
    border: thick solid white;
    margin-left: 0%;
}


.footerfoot{
    display:flex;
    /* justify-content: space-between; */
    color: white;
    width: 90%;
    border: thick solid green;
    margin: 2% auto;
}
.footerfoot a{
    color: white;
}
.footerfoot a:hover{
    color: #f68b1e;
}

.intl{
    display: flex;
    justify-content: space-between;
}

.social{
/* width: 30%;     */
flex-direction: column;
width: 15%;
}
.socials{
    display: flex;
    justify-content: space-around;
    
}
.paymentmeth{
/* width: 30%; */
margin-left: 15%;
}
.paymentmethod{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
 .footerfoot h4{
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    padding-block: 7%;
}
@media (max-width: 900px) {
    .section1 img{
        width: 100%;
       flex-wrap: nowrap;
    }

    .section2{
        width: 100%;
        flex-wrap: nowrap;
    }

    .header{
        width: 100%;
        flex-wrap: nowrap;
    }
    .header img{
        width:100%;
        flex-wrap: nowrap;
    }
    .headeright{
        width: 100%;
        flex-wrap: nowrap;
        
    }

    .search{
        width: 100%;
        flex-wrap: nowrap;
    }
    .lens{
        width: 100%;
        flex-wrap: nowrap;
    }
    button{
        width: 100%;
        flex-wrap: nowrap;
    }

    .left{
        display: none;
    }
    .right1{
        display: none;
    }

    .right2{
        display: none;
    }
}